body {
    background-color: #00fbff;
    color: ;
}

header{
    background-color: #00ffb3;
}

nav a {
    color: ;
}

nav a:hover {
    color: ;
    }

h1 {
    color: #001c1c;
}

h2 {
    color: #001c1c;
}

footer{
    background-color: #00ffb3;
    color: ;
}

footer span {
    color: ;
}